# Ignore compiled code and binaries
*.exe
*.o
*.class

# Ignore dependency and package manager files
node_modules/
venv/
yarn.lock
Pipfile.lock

# Ignore logs and temporary files
*.log
*.tmp
*.txt
*~

# Ignore IDE and editor-specific files
.idea/
.vscode/

# Ignore environment-specific files
.env
.env.local

# Ignore credentials and sensitive information
secrets.json

# Ignore build output and artifacts
build/
dist/
target/

# Ignore database files
*.sqlite
*.db
*.sql

# Ignore system and OS-specific files
.DS_Store

# Ignore user-specific and editor backup files
.bash_history
.gitconfig
._*
